<html lang="en">
<head>
</head>
<body>
	<h1> Following are the titles of given websites : <%= task %> </h1>

    <ul >
      <% qs.forEach(eachAddress => { %>
        <li> <%= eachAddress.name %> - <%= eachAddress.param %> </li>
    <% }) %>
    </ul>
    <br><br>
    
</body>
</html>
